In [1]:
# Data Science Tools and Ecosystem

In [3]:
# In this notebook, we summarize the tools, languages, and libraries used in Data Science.

In [5]:
### Data Science Languages:
#- Python
#- R
#- SQL
#- Julia

In [6]:
### Popular Data Science Libraries:
#- Pandas
#- NumPy
#- Matplotlib
#- Scikit-learn
#- TensorFlow

In [7]:
### Data Science Tools

#| Tool | Category |
#|------|----------|
#| Jupyter Notebook | IDE |
#| RStudio | IDE |
#| Apache Spark | Big Data |
#| TensorFlow | Machine Learning |

In [10]:
### Examples of Basic Arithmetic Expressions in Python

In [11]:
# Multiply and Add Numbers
a = 5 * 4
b = a + 10
b

30

In [13]:
# Convert Minutes to Hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

In [14]:
### Objectives:
#- List popular data science languages
#- List commonly used libraries
#- Demonstrate simple arithmetic operations
#- Create tables in markdown
#- Share notebook on GitHub

In [17]:
# Author: Ayush